
.mid1{
        padding:50px;

}
.mid2{
    background-color: whitesmoke;
    border-radius: 5px 0px 0px 5px;
    padding:50px;
    padding-top: 30px;
    overflow: hidden;
}
.mid3{
    background-color: rgba(19, 35, 47, 0.9);
    border-radius: 5px 0px 0px 5px;
    padding:50px;
    padding-top: 30px;
    overflow: hidden;
}
.low1{
        padding:50px;
        background-color: rgba(19, 35, 47, 0.9);
}
.low2{
    background-color: #222;
        padding:50px;
    min-height:50px;
}
.low10{
     background : url("/images/map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0px;
}

html{
    background : url("/images/emilia1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.certImage{
    margin: 3%;
}
.sportImage{
    float: left;
    margin: 3%;
    transition-duration: .5s;
    
}
.rotate{
-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.shadow{
    box-shadow: 0 1px 10px 4px rgba(19, 35, 47, 0.3);
}
textarea{
    border: 2px solid whitesmoke;
}
textarea:focus{
    border-color: #71FFCE;
}
input:focus{
    border-color: #71FFCE;
}
.buttonX{
 padding:5px 15px;
 border-radius:5px;
 height:50px;
 width: 95%;
 background-color:transparent;
 border: 2px solid #71FFCE;
    margin:10px;
 color: #71FFCE;
 font-weight: 600;
 font-size:20px;
 text-align: left;
    transition-duration: .4s;
    display: none;
}
.buttonX:hover{
     background-color:#71FFCE;
    color: rgba(19, 35, 47, 1);
}
@media (max-width: 650px){
    #textArea1{
        display:none;
    }
    #textArea2{
        display:none;
    }
    #textArea3{
        display:none;
    }
    #button1{
        display:block;
    }
     #button2{
        display:block;
    }
     #button3{
        display:block;
    }
}

